---
import { ClientRouter } from "astro:transitions";
const pageTitle = "Blog";
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
                <title>{pageTitle}</title>
        	<ClientRouter />
	</head>

	<body transition:animate="slide" class=" font-commitmono">
		<main class="min-h-screen bg-white text-gray-900 p-8">
  			<div class="w-[40%] mx-auto">
    				<div class="mb-16">
      					<h2 class="text-sm font-semibold mb-6 text-center">
        					What more ?
      					</h2>

					<p class="text-center text-xs leading-relaxed ">
						Hello, here I will post about my journey learning zig, cycling, 
						<br> playing football and life in general. Wanna say hi?
      					</p>
				</div>
				<div class=" mb-12">
					<h2 class="text-sm font-semibold text-center mb-4">- 2026 -</h2>
					<div class="space-y-4">
						<div class="flex items-center justify-between">
                    					<a href="/posts/2026" class="text-base text-gray-900 hover:text-blue-600 transition-colors text-xs">
                      						Beginning 2026
                    					</a>
                    					<div class="flex gap-2">
                        					<span class="text-xs px-2 py-1 border border-gray-400 text-gray-600">
                          						update
                        					</span>
                    					</div>
                  				</div>
					</div>
				</div>
  			</div>
		</main>

	</body>
</html>
 
