---
import { ClientRouter } from "astro:transitions";
const pageTitle = "Blog";
import "@/styles/globals.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <title>{pageTitle}</title>
        <ClientRouter />
	</head>

	<body transition:animate="slide" class=" w-[50%] mx-auto font-commitmono">
        	<div class=" mt-12">
			<div class=" text-sm text-center">
				<div class="">
					<h3 class=" font-bold">What more?</h3>
					<div class=" mt-6 text-xs text-left">
						<p>I also post my journey learning Zig, cycling, <br>
						football and any thing interesting that hits my mind. Say hi</p>
					</div>
					<div class=" mt-10 text-left ">
						<h3 class=" font-bold text-md">- 2026 -</h3>
						<div class=" mt-8 text-xs flex items-center">
							<div class=" flex items-center transition delay-50 duration-150 ease-in-out hover:translate-y-1 hover:scale-110">
								<p>Beginning of 2026</p>
								<span class="px-2 py-[0.5] rounded-sm border border-zinc-300">update</span>
							</div>
						</div>
					</div>
				</div>
			</div>
        	</div>
	</body>
</html>
 
