---
const date = new Date().getFullYear();
---
<section class="">

    <div>
        <p class=" font-sacramento text-xl">Louis Wanyika Gituhi</p>
    </div>

    <div class="text-md">
        <p>&copy 2024 - {date}</p>
    </div>

</section>