---
import { Image } from "astro:assets";
import Louis from "../assets/louis.webp";
---
<header class="tracking-wide leading-6">
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-4 w-full">
        <div class="text-sm flex-1">
			<h1 class="text-3xl font-commitmono">Louis Gituhi</h1>
            <h2 class="text-lg">Software Engineer and IT Admin</h2>
            <p class="text-md tracking-wide leading-6 mt-2">
                Hi, I'm Louis Gituhi, a software engineer from Nairobi.
                Currently I am working at Kingdom Bank as an IT Administrator.
                Occasionally you will find me on the pitch playing football — I'm a goalkeeper.
            </p>
            <div class=" mt-2 text-md">
                <a href="mailto:louisgituhi@gmail.com" class=" underline underline-offset-4 decoration-2 decoration-fuchsia-200">Email me</a>
				<a href="/cv/" class="underline underline-offset-4 decoration-2 decoration-fuchsia-200">cv</a>
					<a href="/cv/" class="underline underline-offset-4 decoration-2 decoration-fuchsia-200">blog</a>
			</div>
        </div>
        <Image
            class="w-full h-auto rounded-sm object-cover sm:w-[480px] sm:h-[280px]"
            src={ Louis }
            alt="my image"
        />
    </div>
</header>
