---
import ThemeSwitcher from "./theme-switcher"
---
<header class=" tracking-wide leading-6">
    <nav class=" flex items-center justify-between w-full">
        <div class="text-sm flex items-center gap-2">
            <span class=" size-2 bg-orange-500 rounded-full"></span>
            <h2 class=" text-sm text-gray-600 dark:text-white">LOUIS GITUHI</h2>
        </div>
        <ThemeSwitcher client:load />
    </nav>
</header>