---
---
<header class="tracking-wide leading-6">
    <div class="w-[80%] mx-auto">
        <div class="text-sm flex-1">
			<h1 class="text-3xl font-commitmono">Louis Gituhi</h1>
            <h2 class="text-lg">Software Engineer and IT Admin</h2>
            <p class="text-sm leading-6 mt-2">
Hi, I'm Louis Gituhi, a software engineer from Nairobi. <br>
				Currently I am working at Kingdom Bank as an IT Administrator. 
			</p>
            <div class=" mt-2 text-md">
                <a href="mailto:louisgituhi@gmail.com" class=" underline underline-offset-4 decoration-2 decoration-fuchsia-200">Email me</a>
					<a href="/blog/" class="underline underline-offset-4 decoration-2 decoration-fuchsia-200">blog</a>
			</div>
        </div>
            </div>
</header>
