---
---

<section class=" mt-10 tracking-wide leading-6 w-[80%] mx-auto">
    <h4 class=" text-lg ">Projects</h4>

        <div class=" mt-4">
            <h4 class=" text-md font-semibold">Planck</h4>
            <p class=" text-xs leading-[1.5]">
                A physicist API endpoint 
                <span class="flex items-center gap-1">
                                            <a href="https://github.com/louisgituhi/planck" 
                            class="underline decoration-wavy cursor-pointer">github</a>, 
                        <a href="https://planck.louisgituhi.workers.dev/" 
                            class="underline decoration-wavy cursor-pointer">link</a>.
                </span>
            </p>
        </div>

        <div class=" mt-4">
            <h4 class=" text-md font-semibold">Fuyu</h4>
            <p class=" text-xs leading-[1.5]">
			A neat webapp to help track your expenses with powerful analytics <br> 
                                    <a href="https://github.com/louisgituhi/fuyu"
                        class="underline decoration-wavy cursor-pointer">github</a>, 
                    <a href="https://fuyu-eta.vercel.app/" 
                        class="underline decoration-wavy cursor-pointer">link</a>.
                </span>
		</p>
	</div>
	<div class="mt-4">
		<h4 class="text-md font-semibold">Statut</h4>
		<p class=" text-xs leading-[1.5]">
			A monitor for your API, routes and pages <br>
			<a href="https://github.com/louisgituhi/statut"
class=" underline decoration-wavy cursor-pointer">github</a>
			</span>
		</p>
	</div>
</section>
