---
import App from "./fetch";
import FuyuCommits from "./fuyu.tsx";
import Image from "astro/components/Image.astro";
import Tanstack from "../assets/tanstack.svg";
import Bun from "../assets/bun.svg";
import Neon from "../assets/neon.svg";
import Hono from "../assets/hono.svg";
import Workers from "../assets/cloudflare-workers.svg";
import Vercel from "../assets/vercel.svg";
---

<section class=" mt-10 tracking-wide leading-6">
    <h4 class=" text-lg text-white ">Projects</h4>

        <div class=" mt-4">
            <h4 class=" text-md font-semibold">Planck</h4>
            <p class=" text-sm text-white">
                A physicist API endpoint - 
                <span class="flex items-center gap-1">
                    <Image src={ Hono } alt="hono logo" width={14} height={14} /> 
                    <Image src={ Bun } alt="Bun logo" width={18} height={18} />
                    <Image src={ Workers } alt="cloudflare-workers logo" width={18} height={18} />
                        <a href="https://github.com/louisgituhi/planck" 
                            class=" text-white underline decoration-wavy cursor-pointer">github</a>, 
                        <a href="https://planck.louisgituhi.workers.dev/" 
                            class="text-white underline decoration-wavy cursor-pointer">link</a>.
                </span>
            </p>
            <span class=" text-xs text-white">
                <App client:load/>
            </span>
        </div>

        <div class=" mt-4">
            <h4 class=" text-md font-semibold">Fuyu</h4>
            <p class=" text-sm text-white">
                A neat webapp to help track your expenses with powerful analytics - 
                <span class="flex items-center gap-1">
                    <Image src={ Neon } alt="neon logo" width={18} height={18} /> 
                    <Image src={ Tanstack } alt="tanstack logo" width={18} height={18} />
                    <Image src={ Bun } alt="Bun logo" width={18} height={18} />
                    <Image src={ Vercel } alt="Vercel logo" width={18} height={18} />
                    <a href="https://github.com/louisgituhi/fuyu"
                        class=" text-white underline decoration-wavy cursor-pointer">github</a>, 
                    <a href="https://fuyu-eta.vercel.app/" 
                        class="text-white underline decoration-wavy cursor-pointer">link</a>.
                </span>
		</p>
		<span class="text-xs text-white">
			<FuyuCommits client:load />
		</span>
        </div>
</section>
