<div class=" mt-4">
    <span class=" text-xs text-gray-600 dark:text-white">TL;DR</span>
    <p class=" text-sm text-gray-600 dark:text-white tracking-wide leading-6">Hey there! I'm a software engineer and a goalkeeper whenever I hit the football pitch. I Get a kick out of
        experimenting with new technologies (and occassionally saving somes goals). When I'm not coding or 
        playing football, you'll find me watching football matches and getting lost in documentaries. Let's just say I'm
         equally passionate about deploying code and defending the goalpost!.
    </p>
</div>