<section class=" mt-10 tracking-wide leading-6 w-[80%] mx-auto">
    <div class=" mt-4">
        <h4 class=" text-lg">Hangouts</h4>
    </div>
    <div class=" flex items-center gap-2 mt-4 text-md">
        <a href="mailto:louisgituhi@gmail.com" class=" text-sm underline">Email</a>
        <a href="https://github.com/louisgituhi" class=" text-sm underline">Github</a>
        <a href="https://x.com/Lithium_III" class=" text-sm underline">X</a>
        <a href="https://linkedin.com/in/louis-wanyika-31558b252" class=" text-sm underline">LinkedIn</a>
    </div>
</section>
