<section class=" mt-10 w-full">
    <h4 class=" text-sm text-gray-400 tracking-wide leading-6">TECHNOLOGIES</h4>
    <div class=" text-sm mt-4">
        <p class=" text-gray-600 dark:text-white tracking-wide leading-6">Here are some cool tools that I use all the time 
            <a href="https://nextjs.org/" class=" underline decoration-wavy decoration-black dark:decoration-gray-200 text-black dark:text-gray-100">Nextjs</a>, 
            <a href="https://orm.drizzle.team/" class=" underline decoration-wavy decoration-green-400 text-black dark:text-gray-100">Drizzle</a>,
            <a href="https://hono.dev/" class=" underline decoration-wavy decoration-orange-400 text-black dark:text-gray-100">Hono</a>, 
            <a href="https://supabase.com/" class=" underline decoration-wavy decoration-green-500 text-black dark:text-gray-100">Supabase</a>, 
            <a href="https://biomejs.dev/" class=" underline decoration-wavy decoration-blue-500 text-black dark:text-gray-100">Biome</a>, 
            <a href="https://www.postgresql.org/" class=" underline decoration-wavy decoration-blue-800 text-black dark:text-gray-100">PostgreSQL</a>,
            <a href="https://astro.build/" class=" underline decoration-wavy decoration-purple-500 text-black dark:text-gray-100">Astro</a>, 
            <a href="https://bun.sh/" class=" underline decoration-wavy decoration-black dark:decoration-gray-200 text-black dark:text-gray-100">Bun</a>,
            <a href="https://pocketbase.io/" class=" underline decoration-wavy decoration-black dark:decoration-pink-300 text-black dark:text-gray-100">Pocketbase</a> and of course 
            <a href="https://git-scm.com/" class=" underline decoration-wavy decoration-red-800 text-black dark:text-gray-100">git</a>. 
            Have any tools I should check out?
        </p>
    </div>

</section>