---
const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
  		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<title>{frontmatter.title}</title>
	</head>
	<body class="">
    		<main class="w-[40%] mx-auto mt-20">
      			<article class="prose prose-neutral max-w-none text-xs text-left font-commitmono">
        			<slot />
      			</article>
    		</main>
  	</body>
</html>
